
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/resources/view/pages.css/table.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/resources/view/pages.css/global.css" media="screen" />
    <title>Document</title>
</head>
<body>
    <header>
    {{header}}
    </header>

    <main>
    <div class="content">
        <table class="rTable">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Autor</th>
                    <th>Titulo</th>
                    <th>Texto</th>
                </tr>
            </thead>

            <tbody>
                {{tablePost}}
                {{tablePost}}
                {{tablePost}}
                {{tablePost}}
                {{tablePost}}
            </tbody>
        </table>
    </div>
</main>

</body>
</html>

