<ul>
    <li>
        <span class="id">{{Id}} </span>
        <span class="Titulo">{{Titulo}}</span>
        <span class="Status"><input type="checkbox" name="checkbox" value="check" checked="{{Status}}"></span>
    </li>

    <li>
        <span class="id">{{Id}} </span>
        <span class="Titulo">{{Titulo}}</span>
        <span class="Status"><input type="checkbox" name="checkbox" value="check" checked="{{Status}}"></span>
    </li>

    <li>
        <span class="id">{{Id}} </span>
        <span class="Titulo">{{Titulo}}</span>
        <span class="Status"><input type="checkbox" name="checkbox" value="check" checked="{{Status}}"></span>
    </li>

    <li>
        <span class="id">{{Id}} </span>
        <span class="Titulo">{{Titulo}}</span>
        <span class="Status"><input type="checkbox" name="checkbox" value="check" checked="{{Status}}"></span>
    </li>
    <li>
        <span class="id">{{Id}} </span>
        <span class="Titulo">{{Titulo}}</span>
        <span class="Status"><input type="checkbox" name="checkbox" value="check" checked="{{Status}}"></span>
    </li>
    <li>
        <span class="id">{{Id}} </span>
        <span class="Titulo">{{Titulo}}</span>
        <span class="Status"><input type="checkbox" name="checkbox" value="check" checked="{{Status}}"></span>
    </li>
    <li>
        <span class="id">{{Id}} </span>
        <span class="Titulo">{{Titulo}}</span>
        <span class="Status"><input type="checkbox" name="checkbox" value="check" checked="{{Status}}"></span>
    </li>
    <li>
        <span class="id">{{Id}} </span>
        <span class="Titulo">{{Titulo}}</span>
        <span class="Status"><input type="checkbox" name="checkbox" value="check" checked="{{Status}}"></span>
    </li>
    <li>
        <span class="id">{{Id}} </span>
        <span class="Titulo">{{Titulo}}</span>
        <span class="Status"><input type="checkbox" name="checkbox" value="check" checked="{{Status}}"></span>
    </li>

    <li>
        <span class="id">{{Id}} </span>
        <span class="Titulo">{{Titulo}}</span>
        <span class="Status"><input type="checkbox" name="checkbox" value="check" checked="{{Status}}"></span>
    </li>